@using BlogTutorial.Models;
@using System.Web;
@model IEnumerable<Post>

@foreach(var item in Model)
{
    
    <!-- Blog entry -->
    <div class="w3-card-4 w3-margin w3-white">
        <img src="~/images/@item.Image" alt="Norway" style="width:100%">
   
        <div class="w3-container">
        <br />
            <h3><b>@item.Title</b></h3>
            <hr />
            <h5>@item.SubTital <span class="w3-opacity">@item.Date</span></h5>
        <hr />
        </div>

        <div class="w3-container">
            <p>
                @if (item.Content.Length < 100)
                {
                    @Html.Raw(HttpUtility.HtmlDecode(item.Content))
                }
                else
                {
                    @Html.Raw(HttpUtility.HtmlDecode(item.Content.Substring(0,100)))
                }
            </p>
            <div class="w3-row">
                <div class="w3-col m8 s12">
                    <p>
                        <a class="w3-button w3-padding-large w3-white w3-border" asp-controller="Home" asp-action="Post" asp-route-slug="@item.Slug"><b>READ MORE »</b></a>
                    </p>
                </div>
                <div class="w3-col m4 w3-hide-small">
                   
                </div>
            </div>
        </div>
    </div>
    <!-- END BLOG ENTRIES -->

}


